/*
reglas : selector + declaracion + propiedad
selectores: como identificar un elemento
          id,tags, clases
declaraciones: todo lo que está dentro de las llaves de una regla
propiedades
valores

descompongamos
  header{
    background: pink;
  }
regla: es todo
selector es header
declaracion es background: pink;
propiedad es background
y valor es pink

 selector de hijos
 body header div nav ol li a
 llegamos al a que tiene todos esos elementos como padres
 selector de clase .nombre
selector de id #nombre */
/* colores hexadecimales
#FFFFFF white
#00000  black
#FF0000 RED
#00FF00 GREEN
#0000FF BLUE */
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  /* font-style: italic; */
  /* si la fuente mas de dos palabras se pone entre comillas */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: -0.2px;
  color: white;
  /* 4 valores top right bottom left*/
  /* 2 valores top/bottom right/left*/
  /* margin */
  margin: 0;
  /* text-transform: uppercase;
  text-decoration: underline; */
}

h1 strong {
  color: #026fff;
}

.hero {
  height: 300px;
  /* background-image: url('../images/hero.jpg'); */
  background-color: #1b2127;
  align-items: center;
  /* width-height */
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position: x y */
  /* background-position-x: right; */
  display: flex;
  justify-content: space-between;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  /*  tamaño tipo estilo*/
  /* border-color:
  border-width:
  border-style: */
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  align-items: center;
  justify-content: space-between;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.project-course, .project-date, .project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}
.project-image{
  width: 100%;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.header {
  display: flex;
  height: 70px;
  background-color: #1b2127;
  color: white;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header a {
  color: white;
  text-decoration: none;
}

.header figure img {
  height: 50px;
}

figure {
  margin: 0;
}

.menu {
  height: inherit;
}

.header ol, .header ul {
  height: inherit;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header ul li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #1b2127;
  padding-right: 10px;
  padding-left: 10px;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background: #f4fbff
}

.event-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer a {
  color: white;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  position: relative;
  z-index: 10;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  color: #056fff;
  border-radius: 5px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social {
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}


.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}


.container {
  max-width: 1000px;
  /* width:100%; */
  flex:1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.hero-image {
  object-fit: cover;
}

/* desktop first  */
@media screen and (max-width:1024px) {
  .container{
    padding: 0 1em;
  }
}

@media screen and (max-width:767px) {
  .header{
    display: block;
    height:auto;
  }
  .header ul{
    display: initial;
  }
  .header ul li{
    height: 50px;
  }
  .header a{
    justify-content: center;
  }
  .header .logo{
    text-align: center;
  }
  .project{
    display: block;
  }
  .project-imageContainer{
    width: auto;
    text-align: center;
  }

  .project-details{
    width: auto;
    font-size: 20px;
  }
  .project-title{
    font-size: 1.5em;
  }
  .project-url{
    font-size: 1em;
  }
  .project-course{
    font-size: 1.2em;
  }
  .project-description{
    font-size: 0.75em;
  }
  .project-course, .project-date, .project-url{
    margin: 0.4em 0;
  }
  .event{
    width:auto;
    flex-shrink: initial;
  }
  .event img{
    width: 100%;

  }

}

@media screen and (max-width:550px) {
  .project-details{
    font-size: 16px;
  }
  .event-detail{
    margin: -2em .5em .5em;
    padding: 1em;
  }
  .contact{
    height: auto;
    padding: 1.5em 0;
    display: block;
    text-align: center;
  }
  .form-email button{
    margin: 1em auto;
  }
  .form-email h3{
    margin-top: 0;
  }
  .footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }

}

@media screen and (max-width:320px) {}



/* display block: ocupar todo el ancho posible
display inline trabaja como texto */
